// NOTE Default Scheme
$body-bg: #f2f2f2;
$primary: #3ba5dc;
$secondary: #ff3697;
$danger: #eb5757;
$success: #27ae60;
$warning: #ff7f50;
$info: #00c9bd;
$dark: #313130;
$light: #f8f9fa;

// NOTE Ocean
$body-bg: #bcddd3;
$primary: #1a9fb1;
$secondary: #0a5b73;
$danger: #e7524f;
$success: #18935c;
$warning: #d86d34;
$info: #6d7cb8;
$dark: #30303f;
$light: #f9f9f4;
