// NOTE Default Scheme
// $body-bg: #f2f2f2;
// $primary: #3ba5dc;
// $secondary: #ff3697;
// $danger: #eb5757;
// $success: #27ae60;
// $warning: #ff7f50;
// $info: #00c9bd;
// $dark: #313130;
// $light: #f8f9fa;

// NOTE Ocean
$body-bg: #b3d1cd;
$primary: #955971;
$secondary: #0e4c53;
$danger: #ac3931;
$success: #2d6a33;
$warning: #9a6d38;
$info: #257f88;
$dark: #202a33;
$light: #f0f3eb;
